span {display:inline-block;}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.action{
	color: #CCCCCC;
	font-size: 9pt;
	cursor: pointer;
  margin: 0px 3px 0px 3px;
}
.action:hover{
  color: #888888;
}

.unstyled{
	list-style-type: none;
}

.collaboration, .attachments {
	background: #EEEEEE;
	width: 350px;
	padding: 5px;
}

.text-center {
	text-align: center;
	display: block;
}