<div ng-controller="TodoListController">
  <div>
    <button ng-click="logout()">Logout</button>
  </div> 
  <hr>
  <!-- Form to create new todo -->
  <form ng-submit="addTask()">
    <input type="text" ng-model="taskText" size="30" placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
  </form>
  <!-- Todo list -->
  <ul class="unstyled">
    <li ng-repeat="task in taskList">
      <input type="checkbox" ng-model="task.toJSON().task_status" ng-click="editTaskStatus(task)">
      <span class="done-{{task.toJSON().task_status}}">{{task.toJSON().task_text}}</span>
      <span class="action" ng-click="removeTask(task)">delete</span>
      <span class="action" ng-click="editTaskText(task)">edit</span>
      <span class="action" ng-click="showCollaborationBox(task)">share</span>
      <div class="collaboration" ng-show="task.showCollaborationBox">
        <form ng-submit="addCollaborator(task)">
          Share Task With
          <input type="text" ng-model="collaborator.email" placeholder="Email ID of Collaborator"> 
          <button class="btn-small" type="submit">+</button>
        </form>
      </div>
    </li>
    <div>
    </div>
  </ul>
</div>