<div ng-controller="TodoListController">
  <div>
    {{currentUser.get('email')}} <button ng-click="logout()">Logout</button>
  </div> 
  <hr>
  <!-- Form to create new todo -->
  <form ng-submit="addTask()">
    <input type="text" ng-model="taskText" size="30" placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
  </form>
  <!-- Todo list -->
  <ul class="unstyled">
    <li ng-repeat="task in taskList">
      <input type="checkbox" ng-model="task.toJSON().task_status" ng-click="editTaskStatus(task)">
      <span class="done-{{task.toJSON().task_status}}">{{task.toJSON().task_text}}</span>
      <span class="action" ng-click="removeTask(task)">delete</span>
      <span class="action" ng-click="editTaskText(task)">edit</span>
      <span class="action" ng-click="showCollaborationBox(task)">
        share
      </span>
      <span class="action" ng-click="showAttachmentsBox(task)">
        attachments
      </span>
      <!-- Collaboration Box -->
      <div class="collaboration" ng-show="task.showCollaborationBox">
        <form ng-submit="addCollaborator(task)" ng-show="currentUser.get('uid') === task.get('app_user_object_uid')">
          Share Task With
          <input type="text" ng-model="collaborator.email" placeholder="Email ID of Collaborator"> 
          <button class="btn-small" type="submit">+</button>
        </form>
        <!-- Collaborators List -->
        <div ng-show="task.collaborators">
          <ul>
            <li ng-repeat="collaborator in task.collaborators">
              {{collaborator.get('email')}}
              <span class="action" ng-click="removeCollaborator(task, collaborator)"
                ng-show="currentUser.get('uid') === task.get('app_user_object_uid')"
              >remove</span>
            </li>
          </ul>
        </div>
        <div ng-hide="task.collaborators">
          <span class="text-center">No Collaborator</span>
        </div>
      </div><!-- /Collaboration Box -->
      <!-- Attachments -->
      <div class="attachments" ng-show="task.showAttachmentsBox">
        <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="false">Select File</div>
      </div>
    </li>
    <div>
    </div>
  </ul>
</div>